<!DOCTYPE html>
<html>
<title>Feedback</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scal e=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/watson-react-components.min.css">



<body>

<!-- Side Navigation -->
<!-- Navbar -->


<!-- Header -->
<header class="w3-container w3-padding" id="myHeader" style="background-color:#152935; padding-top:35px" >
  
 <div class="w3-bar w3-left-align" style="background-color:#152935;padding-top:5px">
   
 
  
 </div>


  <!-- Navbar on small screens -->

</div>

</header>

<div class="w3-padding w3-white w3-display-container w3-center">
  
  <h1>Thanks for your feedback!!!</h1>
  












  <br>
  <input type="button" value="Close" onclick="window.opener=null; window.close(); return false;" class="base--button_submit_watson w3-center" style="
    background-color: #5a5a5a;
    color: #ffffff;
    width: 15%;
    /* height: 10%; */
    font-size: 150%;"/>

</form>
</div>
</div>

<!-- Footer -->



</body>
</html>
